# 시리즈 만들기

# 데이터프레임 만들기

# 데이터프레임에서 시리즈 선택하기

# index, values, keys 사용하기

# 시리즈의 mean, min, max, std 메서드 사용하기

# 시리즈와 불린 추출 사용하기

# 시리즈와 브로드캐스팅

# 데이터프레임과 불린 추출

In [1]:
import pandas as pd
s = pd.read_csv('C:\\GitHub\\pandas\\data\\scientists.csv')

In [2]:
print(s[s['Age'] > s['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

# 데이터프레임과 브로드캐스팅

In [3]:
print(s.loc[[True, True, False, True, False, False, False, False]])

                Name        Born        Died  Age    Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1     William Gosset  1876-06-13  1937-10-16   61  Statistician
3        Marie Curie  1867-11-07  1934-07-04   66       Chemist

In [4]:
print(s*2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

# 열의 자료형 바꾸기와 새로운 열 추가하기

In [61]:
print(s['Born'].dtype)

object

In [62]:
print(s['Died'].dtype)

object

In [63]:
born_datetime = pd.to_datetime(s['Born'], format = '%Y-%m-%d')
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [64]:
died_datetime = pd.to_datetime(s['Died'], format = '%Y-%m-%d')
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [66]:
s['born_dt'], s['died_dt'] = (born_datetime, died_datetime)
print(s.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   90       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   77  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   56         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   45       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   61     Biologist 1907-05-27

     died_dt age_datys_dt age_days_dt
0 1958-04-16   13779 days  13779 days
1 1937-10-16   22404 days  22404 days
2 1910-08-13   32964 days  32964 days
3 1934-07-04   24345 days  24345 days
4 1964-04-14   20777 days  20777 days

In [67]:
print(s.shape)

(8, 9)

In [56]:
s['age_days_dt'] = (s['died_dt'] - s['born_dt'])
print(s)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   66             Chemist
1        William Gosset  1876-06-13  1937-10-16   41        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   61               Nurse
3           Marie Curie  1867-11-07  1934-07-04   90             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   77           Biologist
5             John Snow  1813-03-15  1858-06-16   37           Physician
6           Alan Turing  1912-06-23  1954-06-07   56  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   45       Mathematician

     born_dt    died_dt age_datys_dt age_days_dt
0 1920-07-25 1958-04-16   13779 days  13779 days
1 1876-06-13 1937-10-16   22404 days  22404 days
2 1820-05-12 1910-08-13   32964 days  32964 days
3 1867-11-07 1934-07-04   24345 days  24345 days
4 1907-05-27 1964-04-14   20777 days  20777 days
5 1813-03-15 1858-06-16   16529 days  16529 days
6 1912-06-23 1954-06-07   15324 days  15324 days
7 1777-04-30 1855-02-23   28422 days  28422 days

# 시리즈, 데이터프레임의 데이터 섞어보기

In [57]:
print(s['Age'])

0    66
1    41
2    61
3    90
4    77
5    37
6    56
7    45
Name: Age, dtype: int64

In [58]:
import random

In [59]:
random.seed(42)
random.shuffle(s['Age'])
print(s['Age'])

0    90
1    77
2    56
3    45
4    61
5    37
6    66
7    41
Name: Age, dtype: int64

C:\Users\sds\anaconda3\lib\random.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

# 데이터프레임의 열 삭제하기

In [68]:
print(s.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_datys_dt', 'age_days_dt'],
      dtype='object')

In [70]:
s_dropped = s.drop(['Age'], axis= 1)
print(s_dropped)

                   Name        Born        Died          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16             Chemist
1        William Gosset  1876-06-13  1937-10-16        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13               Nurse
3           Marie Curie  1867-11-07  1934-07-04             Chemist
4         Rachel Carson  1907-05-27  1964-04-14           Biologist
5             John Snow  1813-03-15  1858-06-16           Physician
6           Alan Turing  1912-06-23  1954-06-07  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23       Mathematician

     born_dt    died_dt age_datys_dt age_days_dt
0 1920-07-25 1958-04-16   13779 days  13779 days
1 1876-06-13 1937-10-16   22404 days  22404 days
2 1820-05-12 1910-08-13   32964 days  32964 days
3 1867-11-07 1934-07-04   24345 days  24345 days
4 1907-05-27 1964-04-14   20777 days  20777 days
5 1813-03-15 1858-06-16   16529 days  16529 days
6 1912-06-23 1954-06-07   15324 days  15324 days
7 1777-04-30 1855-02-23   28422 days  28422 days

# 피클 형식으로 저장하기

In [72]:
names = s['Name']
names.to_pickle('C:\GitHub\pandas\output\scientists_names_series.pickle')

In [75]:
s.to_pickle('C:\GitHub\pandas\output\scientists_df.pickle')

In [78]:
scientists_names_from_pickle = pd.read_pickle('C:\GitHub\pandas\output\scientists_names_series.pickle')
print(scientists_names_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [79]:
scientists_from_pickle = pd.read_pickle('C:\GitHub\pandas\output\scientists_df.pickle')
print(scientists_from_pickle)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   90             Chemist
1        William Gosset  1876-06-13  1937-10-16   77        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   56               Nurse
3           Marie Curie  1867-11-07  1934-07-04   45             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   61           Biologist
5             John Snow  1813-03-15  1858-06-16   37           Physician
6           Alan Turing  1912-06-23  1954-06-07   66  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   41       Mathematician

     born_dt    died_dt age_datys_dt age_days_dt
0 1920-07-25 1958-04-16   13779 days  13779 days
1 1876-06-13 1937-10-16   22404 days  22404 days
2 1820-05-12 1910-08-13   32964 days  32964 days
3 1867-11-07 1934-07-04   24345 days  24345 days
4 1907-05-27 1964-04-14   20777 days  20777 days
5 1813-03-15 1858-06-16   16529 days  16529 days
6 1912-06-23 1954-06-07   15324 days  15324 days
7 1777-04-30 1855-02-23   28422 days  28422 days

# CSV 불러오기

In [80]:
names.to_csv('C:\GitHub\pandas\output\scientists_names_series.csv')
s.to_csv('C:\GitHub\pandas\output\scientists_df.csv', sep= '\t')

In [82]:
names_df = names.to_frame()
import xlwt
names_df.to_excel('C:\GitHub\pandas\output\scientists_names_series.xls')

import openpyxl
names_df.to_excel('C:\GitHub\pandas\output\scientists_names_series.xlsx')