In [1]:
import pandas as pd
import numpy as np

In [4]:
apt = pd.read_excel('C:\\GitHub\\test\\apt_Archive1\\apt_sell_all.xlsx')
apt.head()

,Unnamed: 0,city,town,village,name,size,price_sold,floor,year_built,yy,mm,dd,zipcode,address
0,0,서울특별시,강남구,개포동,개포2차현대아파트(220),77,160000,2,1988,2019,11,18,655-2,언주로 103
1,1,서울특별시,강남구,개포동,개포2차현대아파트(220),77,149500,4,1988,2020,6,23,655-2,언주로 103
2,2,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,79,155000,4,1987,2019,8,28,658-1,언주로 3
3,3,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,79,157000,2,1987,2019,9,2,658-1,언주로 3
4,4,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,79,151500,5,1987,2019,9,10,658-1,언주로 3

In [6]:
def size_re:
    if x < 66:
        return '20평 미만'
    elif x >= 66 | x < 99:
        return '20평'
    elif x >= 99 | x < 132:
        return '30평'
    else:
        return '40평 이상'

SyntaxError: invalid syntax (<ipython-input-6-9d9dad364c80>, line 1)

In [10]:
apt['size_range']=pd.cut(apt['size'],[0, 65, 98, 132, 10000], labels=['20평 미만','20평대','30평대','40평 이상'], duplicates='raise')
apt.head(n=3)

,Unnamed: 0,city,town,village,name,size,price_sold,floor,year_built,yy,mm,dd,zipcode,address,size_range
0,0,서울특별시,강남구,개포동,개포2차현대아파트(220),77,160000,2,1988,2019,11,18,655-2,언주로 103,20평대
1,1,서울특별시,강남구,개포동,개포2차현대아파트(220),77,149500,4,1988,2020,6,23,655-2,언주로 103,20평대
2,2,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,79,155000,4,1987,2019,8,28,658-1,언주로 3,20평대

In [12]:
apt_yearly = apt.groupby(['town', 'yy'])['price_sold'].mean().reset_index()
apt_yearly

    town    yy    price_sold
0    강남구  2010  88267.945029
1    강남구  2011  84573.439288
2    강남구  2012  82577.604089
3    강남구  2013  83772.970641
4    강남구  2014  88069.923758
..   ...   ...           ...
270  중랑구  2016  32335.913756
271  중랑구  2017  35101.079214
272  중랑구  2018  39454.510742
273  중랑구  2019  44480.391323
274  중랑구  2020  48959.339574

[275 rows x 3 columns]

In [13]:
apt_yearly_pivot = apt_yearly.pivot(index='town',columns='yy',values='price_sold')
apt_yearly_pivot

yy,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
town,,,,,,,,,,,
강남구,88267.945029,84573.439288,82577.604089,83772.970641,88069.923758,94114.637715,107208.079757,127011.670843,153700.548635,180082.768998,175211.906780
강동구,45064.097370,43404.086628,43170.996424,41471.244745,41454.902934,45726.793499,50519.334521,58085.748782,65081.134950,73777.849208,77293.013168
강북구,30814.534884,30603.733706,29788.926708,30546.154255,31829.693211,32536.230890,35734.974768,37190.253399,42263.483855,46805.089734,53562.074607
강서구,34434.113027,33751.070498,31814.995199,32606.988296,34412.468517,36173.025938,42350.283748,46736.983131,53121.407765,60349.066489,63913.641557
관악구,34912.306202,35456.858072,32117.926632,32607.310886,34632.885965,36522.580314,38177.060083,40701.663983,47146.838936,53569.419608,59440.901566
광진구,59638.252546,53639.918594,54066.690088,51592.916537,54628.013881,56313.125506,58992.987375,66632.528995,80361.531828,92646.856806,99424.013605
구로구,31799.840381,32042.011141,30305.687808,31092.390493,32182.634173,33598.337858,35771.308413,39120.019102,43347.626068,51034.498012,53526.952672
금천구,26201.883117,26394.790960,25514.827586,24854.171144,26043.176594,28466.564103,31651.145255,33427.529915,37863.875321,43336.348697,45375.296117
노원구,28234.402906,27568.325564,25179.003724,26366.159283,27091.263276,28689.521806,31045.447292,34205.246690,38803.656662,44398.635342,48650.978083
도봉구,26902.941355,26814.750843,25240.773839,25929.066093,26494.105491,27695.728278,29802.322304,32539.633769,35758.010212,40622.723675,43082.728155
동대문구,34863.826087,34922.492849,34312.374051,33561.050379,34068.547795,37649.396208,41887.433898,45261.154562,50875.643208,58435.848166,65824.041729
동작구,47577.046070,46837.390067,47143.537396,48232.026257,47159.368867,48379.360391,56000.205806,61685.870757,71599.519691,85394.374905,91255.698718
마포구,46073.985975,46972.246961,53379.012162,54823.051159,46944.732835,52917.731102,58822.573384,65586.063085,78227.078237,91820.953320,94656.720397
서대문구,35924.714008,34843.424264,34654.368893,34207.906174,35736.661525,38146.176909,44823.224118,49912.809779,56296.537687,68048.566591,73226.494518
서초구,90901.927284,85620.373845,82649.012221,84106.305460,89133.018178,95786.572465,107778.663265,120576.681470,146849.239832,165865.219165,165513.121982
성동구,44957.849624,45470.146628,48723.241906,47154.332592,50522.765135,52454.069243,58172.530567,67086.894181,82036.845537,96636.229709,106748.150457
성북구,34684.204007,36689.328912,34142.936080,34371.128463,36196.091329,39245.416626,42893.498941,44417.139910,49750.734967,58545.704396,65198.575389
송파구,70374.191736,66350.499045,64306.991453,63570.713344,63390.110324,66840.725279,74057.804046,85090.539178,99245.130906,120183.071070,125370.576320
양천구,55061.378549,48318.359690,46526.634974,45034.504741,46783.806276,48073.042850,53586.476275,63388.826777,65974.948209,84655.885063,81577.316557
영등포구,51496.315981,45480.084464,39083.177334,40362.648777,41351.048021,44218.244875,49734.414304,56361.503155,66666.047850,76695.860612,85085.369030
용산구,75049.494118,74934.941103,70802.301303,66238.950873,77198.141830,77455.773438,97188.942586,108376.382091,132504.847826,152255.852099,145372.361039
은평구,42641.907772,36872.206067,34580.576259,34026.370707,34446.918232,36225.513457,40665.529708,43267.428112,48487.540750,52347.700505,59647.334069
종로구,44487.894737,46522.490486,51728.917275,49730.117318,45113.061224,48893.827381,54604.810615,56501.852941,61521.168975,79645.245098,78830.209195
중구,47073.786611,45999.868627,54301.917895,54054.135574,50335.090308,53795.465306,60765.501764,61002.800165,69066.949560,79781.519559,87325.965058
중랑구,29221.032520,29972.140294,28718.235339,28695.619777,30329.321261,30050.729929,32335.913756,35101.079214,39454.510742,44480.391323,48959.339574

In [16]:
apt_yearly_pivot.to_excel('C:\\GitHub\\test\\apt_Archive1\\apt_yearly_pivot.xlsx')

In [17]:
apt_size_yearly = apt.groupby(['town', 'yy', 'size_range'])['price_sold'].mean().reset_index()
apt_size_yearly

     town    yy size_range     price_sold
0     강남구  2010     20평 미만   53814.424102
1     강남구  2010       20평대   85869.185083
2     강남구  2010       30평대  124030.714286
3     강남구  2010     40평 이상  183630.235556
4     강남구  2011     20평 미만   53178.082302
...   ...   ...        ...            ...
1095  중랑구  2019     40평 이상   75554.166667
1096  중랑구  2020     20평 미만   36278.632479
1097  중랑구  2020       20평대   57704.390244
1098  중랑구  2020       30평대   72692.965116
1099  중랑구  2020     40평 이상   76030.555556

[1100 rows x 4 columns]

In [19]:
apt_size_yearly_pivot = pd.pivot_table(apt_size_yearly, index=['size_range','town'],columns='yy',values='price_sold')
apt_size_yearly_pivot

yy                        2010           2011           2012           2013  \
size_range town
20평 미만     강남구    53814.424102   53178.082302   49650.137931   50629.747909
           강동구    38047.511188   36774.524181   35159.297552   33425.142969
           강북구    23931.748252   24828.874459   23778.401163   24859.880295
           강서구    24432.865546   24794.056187   23260.824926   23566.551318
           관악구    27365.014085   28031.680425   24653.251488   25805.623782
...                        ...            ...            ...            ...
40평 이상     용산구   141971.471698  133671.488000  130436.151786  115836.360759
           은평구    73872.896907   69148.400000   66166.908163   62189.939024
           종로구   101055.555556  105502.564103  122043.880000  126470.415385
           중구    105298.636364  112467.333333  133905.120000  124432.329787
           중랑구    58825.000000   70497.105263   59039.111111   53592.857143

yy                        2014           2015           2016           2017  \
size_range town
20평 미만     강남구    51056.866076   58729.330192   68676.365066   82157.538564
           강동구    32024.386339   37966.145228   42286.586328   45529.702413
           강북구    26140.117253   25603.685424   29497.482368   30267.841371
           강서구    24738.113431   26402.477157   31795.488357   35008.287352
           관악구    27240.344948   28341.857962   29847.640479   31263.253296
...                        ...            ...            ...            ...
40평 이상     용산구   136834.784884  155192.684049  197698.978599  226615.591579
           은평구    61698.168067   62839.603774   66148.668067   69363.540741
           종로구   105322.916667  107553.846154  127215.229167  115884.000000
           중구    110347.388889   90775.922414  107887.101266  113677.373134
           중랑구    55110.500000   47063.235294   58004.947368   54013.513514

yy                        2018           2019           2020
size_range town
20평 미만     강남구    92454.556987  116940.623283  102045.070809
           강동구    50472.678428   55361.969716   59601.532609
           강북구    34271.310935   38387.305864   45167.068702
           강서구    39754.152504   47086.452086   50848.252212
           관악구    37669.908172   43560.865087   47943.062262
...                        ...            ...            ...
40평 이상     용산구   236982.385488  277700.683140  242466.339286
           은평구    76516.764398   79553.883495   86858.437500
           종로구   116681.950617  136268.421053  133187.909091
           중구    119684.210526  131427.397260  141579.629630
           중랑구    62508.823529   75554.166667   76030.555556

[100 rows x 11 columns]

In [20]:
apt_size_yearly_pivot.to_excel('C:\\GitHub\\test\\apt_Archive1\\apt_size_yearly_pivot.xlsx')

In [24]:
size_avr = apt.groupby('size_range')['size'].mean()
size_avr

size_range
20평 미만     51.559188
20평대       82.414329
30평대      114.071311
40평 이상    158.197203
Name: size, dtype: float64

In [25]:
apt['age'] = 2020 - apt['year_built']
apt.head()

,Unnamed: 0,city,town,village,name,size,price_sold,floor,year_built,yy,mm,dd,zipcode,address,size_range,age
0,0,서울특별시,강남구,개포동,개포2차현대아파트(220),77,160000,2,1988,2019,11,18,655-2,언주로 103,20평대,32
1,1,서울특별시,강남구,개포동,개포2차현대아파트(220),77,149500,4,1988,2020,6,23,655-2,언주로 103,20평대,32
2,2,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,79,155000,4,1987,2019,8,28,658-1,언주로 3,20평대,33
3,3,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,79,157000,2,1987,2019,9,2,658-1,언주로 3,20평대,33
4,4,서울특별시,강남구,개포동,개포6차우성아파트1동~8동,79,151500,5,1987,2019,9,10,658-1,언주로 3,20평대,33