In [7]:
import pandas as pd
import numpy as np

In [35]:
highofficer = pd.read_csv('C:\\GitHub\\test\\highofficer_2019.csv', encoding = 'cp949')
highofficer.head()

,Unnamed: 0,소속_대분류,소속_소분류,소속,직위,성명,개별index,대분류,본인과의 관계,재산의 종류,소재지 면적 등 권리의 명세,종전가액,증가액,증가액_실거래가,감소액,감소액_실거래가,현재가액,변동사유,years
0,1,청와대,청와대,대통령,대통령,문재인,대통령-대통령-문재인,토지,본인,잡종지,경상남도 양산시 매곡동 28번지 159.00㎡,20177.0,0.0,0.0,0.0,0.0,20177.0,공시지가 변동없음,2018
1,2,청와대,청와대,대통령,대통령,문재인,대통령-대통령-문재인,토지,본인,주차장,경상남도 양산시 매곡동 29번지 577.00㎡,73221.0,0.0,0.0,0.0,0.0,73221.0,공시지가 변동없음,2018
2,3,청와대,청와대,대통령,대통령,문재인,대통령-대통령-문재인,토지,본인,답,경상남도 양산시 매곡동 30-2번지 15.00㎡,340.0,0.0,0.0,0.0,0.0,340.0,공시지가 변동없음,2018
3,4,청와대,청와대,대통령,대통령,문재인,대통령-대통령-문재인,토지,본인,답,경상남도 양산시 매곡동 30-3번지 14.00㎡,317.0,0.0,0.0,0.0,0.0,317.0,공시지가 변동없음,2018
4,5,청와대,청와대,대통령,대통령,문재인,대통령-대통령-문재인,토지,본인,답,경상남도 양산시 매곡동 30-4번지 47.00㎡,1066.0,0.0,0.0,0.0,0.0,1066.0,공시지가 변동없음,2018

In [10]:
highofficer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86174 entries, 0 to 86173
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       86174 non-null  int64
 1   소속_대분류           86174 non-null  object
 2   소속_소분류           86174 non-null  object
 3   소속               86174 non-null  object
 4   직위               85174 non-null  object
 5   성명               86174 non-null  object
 6   개별index          86174 non-null  object
 7   대분류              86174 non-null  object
 8   본인과의 관계          86174 non-null  object
 9   재산의 종류           70561 non-null  object
 10  소재지 면적 등 권리의 명세  85302 non-null  object
 11  종전가액             86174 non-null  float64
 12  증가액              86174 non-null  float64
 13  증가액_실거래가         86174 non-null  float64
 14  감소액              86174 non-null  float64
 15  감소액_실거래가         86174 non-null  float64
 16  현재가액             86174 non-null  float64
 17  변동사유             77151 non-null  object
 18  years            86174 non-null  int64
dtypes: float64(6), int64(2), object(11)
memory usage: 12.5+ MB

In [28]:
highofficer_rich = highofficer.groupby(['성명', 'years'])['현재가액'].sum().reset_index()
highofficer_rich.head()

    성명  years       현재가액
0  가세로   2019  1335532.0
1  강감창   2018  1305205.0
2  강경구   2018  2094343.0
3  강경구   2019  2138270.0
4  강경식   2018   101246.0

In [62]:
pd.options.display.float_format = '{:,}'.format
highofficer_rich = highofficer_rich.sort_values(['현재가액', 'years'], ascending = False)
highofficer_rich

       성명  years          현재가액
509   김병관   2018 443,526,250.0
510   김병관   2019 276,363,061.0
647   김세연   2018 112,377,395.0
648   김세연   2019  96,695,316.0
1487  박덕흠   2019  52,314,676.0
...   ...    ...           ...
1646  박원순   2019    -736,504.0
3463  장영석   2018    -972,854.0
3942  진선미   2018  -1,296,993.0
3943  진선미   2019  -1,386,971.0
4068  최수일   2018  -1,963,702.0

[4452 rows x 3 columns]

In [54]:
site = highofficer['소재지 면적 등 권리의 명세'].fillna('없음')

In [57]:
highofficer['소재지_re'] = site

In [60]:
seongdong_gu = highofficer[highofficer['소재지_re'].str.contains('성동구')]
seongdong_gu['소재지_re'].values

array(['서울특별시성동구금호동3가 두산아파트건물59.97㎡',
       '서울특별시 성동구 성수동2가 롯데캐슬파크 건물 81.58㎡중 40.79㎡',
       '서울특별시 성동구 성수동2가 롯데캐슬파크 건물 81.58㎡중 40.79㎡',
       '서울특별시 성동구 성수동2가 342-10번지 10.00㎡ 중 1.66㎡',
       '서울특별시 성동구 성수동2가 342-6번지 0.00㎡ 중 0.00㎡',
       '서울특별시 성동구 성수동2가 건물 149.00㎡ 중 24.83㎡',
       '서울특별시 성동구 금호동3가 두산아파트 건물 145.16㎡중 72.58㎡',
       '서울특별시성동구금호동3가 두산아파트건물72.58㎡', '서울특별시 성동구 옥수동 옥수파크힐스아파트 건물115.90㎡',
       '서울특별시 성동구 성수동1가 668-23번지 221.00㎡ 중 49.11㎡',
       '서울특별시 성동구 옥수동 더 어울림 아파트 건물 84.69㎡',
       '서울특별시 성동구 용답동 아원산업 대지 1.30㎡ 건물 9.60㎡',
       '서울특별시 성동구 용답동 아원산업 임대보증금 증가', '서울특별시 성동구 금호동3가 두산아파트 건물 59.97㎡',
       '서울특별시 성동구 옥수동 한남하이츠아파트 건물 177.16㎡',
       '서울특별시 성동구 행당동 행당한진타운 건물 84.00㎡', '서울특별시 성동구 행당동 행당한진타운 임대보증금',
       '서울특별시 성동구 성수동2가 성수동아이파크 건물 84.98㎡',
       '서울특별시 성동구 옥수동 옥수하이츠 아파트 건물 114.78㎡',
       '서울특별시 성동구 옥수동 옥수하이츠 아파트 임대보증금 증가',
       '서울특별시 성동구 성수동2가 강변임광아파트 건물 59.67㎡',
       '서울특별시 성동구 금호동3가 두산아파트 건물 59.97㎡', '서울특별시 성동구 행당동 대림아파트 건물 84.87㎡',
       '서울특별시 성동구 행당동 한진타운 건물 114.62㎡', '서울특별시 성동구 행당동 한진타운 임대보증금',
       '서울 성동구 무학로 건물 6.00㎡', '서울특별시 성동구 옥수동 극동그린아파트 건물 102.00㎡',
       '서울특별시 성동구 행당동 행당대림아파트 건물 114.62㎡',
       '서울특별시성동구행당동 행당대림아파트건물11,544.12㎡중114.94㎡',
       '서울특별시 성동구 행당동 행당동한진아파트 건물 114.62㎡ 중57.31㎡',
       '서울특별시성동구행당동 행당동한진아파트건물114.62㎡중57.31㎡',
       '서울특별시 성동구 행당동 행당한진타운아파트 건물144.00㎡ 중 72.00㎡',
       '서울특별시 성동구 행당동 행당한진타운아파트 건물144.00㎡ 중 72.00㎡',
       '서울특별시 성동구 행당동 행당한진타운아파트 임대보증금증가',
       '서울특별시 성동구 행당동 행당한진타운아파트 임대보증금증가', '서울특별시성동구마장동 금호어울림아파트건물84.0 ㎡',
       '서울특별시 성동구 사근동 건물 132.36㎡', '서울특별시 성동구 하왕십리동 금호베스트빌 건물 114.93㎡',
       '서울특별시 성동구 하왕십리동 왕십리자이아파트 건물59.99㎡',
       '서울특별시 성동구 금호동4가 서울숲푸르지오아파트 건물0.00㎡',
       '서울특별시성동구하왕십리동 센트라스건물115.99㎡',
       '서울특별시 성동구 행당동 대지 249.66㎡ 건물 306.00㎡',
       '서울특별시 성동구 마장동 현대아파트 건물 108.00㎡', '서울특별시 성동구 금호동3가 건물 561.75㎡',
       '서울특별시 성동구 금호동4가 건물 115.62㎡', '서울특별시 성동구 금호동3가 임대보증금',
       '서울특별시 성동구 금호동4가 임대보증금',
       '서울특별시 성동구 성수동2가 성원상떼뷰오피스텔 건물3,065.50㎡ 중 8.29㎡',
       '서울특별시 성동구 행당1동 삼부아파트 건물 84.09㎡',
       '서울특별시 성동구 옥수동 래미안옥수리버젠 건물 59.25㎡', '서울특별시 성동구 성수동1가 건물 34.59㎡',
       '서울특별시 성동구 용답동 서희스타힐스리버파크 대지2,118.20㎡ 중 21.90㎡ 건물 2,118.20㎡ 중 21.90㎡',
       '서울특별시 성동구 왕십리2동 풍림아파트 건물 143.86㎡중 65.04㎡',
       '서울특별시 성동구 왕십리2동 풍림아파트 건물 143.86㎡중 64.78㎡',
       '서울특별시 성동구 왕십리2동 풍림아파트 건물 143.86㎡중 4.68㎡',
       '서울특별시 성동구 왕십리2동 풍림아파트 건물 143.86㎡중 4.68㎡',
       '서울특별시 성동구 왕십리2동 풍림아파트 건물 143.86㎡중 4.68㎡',
       '서울특별시 성동구 응봉동 대림강변타운 건물 59.76㎡',
       '서울특별시성동구상왕십리동 대지0.00㎡중0.00㎡건물0.00㎡중0.00㎡',
       '서울특별시 성동구 하왕십리동 한신무학아파트 건물 97.00㎡',
       '서울특별시 성동구 성수동1가 서울숲 벨라듀 건물84.00㎡',
       '서울특별시 성동구 성수동2가 강변현대아파트 건물 81.80㎡',
       '서울특별시 성동구 금호동2가 신금호파크자이아파트 건물79.95㎡',
       '서울특별시 성동구 금호동4가 서울숲 푸르지오 1차 건물0.00㎡',
       '서울특별시 성동구 성수동2가 건물 77.72㎡ 중 38.86㎡',
       '서울특별시 성동구 용답동 102-23번지 189.70㎡ 중 2.34㎡',
       '서울특별시 성동구 용답동 102-24번지 142.20㎡ 중 1.76㎡',
       '서울특별시 성동구 용답동 103-4번지 95.20㎡ 중 1.17㎡',
       '서울특별시 성동구 용답동 104-19번지 307.30㎡ 중 3.80㎡',
       '서울특별시 성동구 성수동2가 건물 0.00㎡', '서울 성동구 성수동2가 0㎡', '서울 성동구 성수동2가 0㎡',
       '서울 성동구 성수동2가 아파트 임대보증금 감소', '서울 성동구 성수동2가 아파트 임대보증금 감소',
       '서울성동구금호동1가114.57㎡', '서울 성동구 응봉동 84.42㎡', '서울 성동구 행당동 건물 29.43㎡',
       '서울 성동구 도선동 건물 38.58㎡', '서울 성동구 행당동 오피스텔 임대보증금 증가',
       '서울 성동구 도선동 오피스텔 임대보증금 증가', '서울 성동구 행당동 84.87㎡',
       '서울 성동구 행당동 아파트 임대보증금', '서울 성동구 금호동4가 아파트 84.838㎡',
       '서울 성동구 금호동3가 116.81㎡', '서울특별시 성동구 성수동1가 건물 164.86㎡',
       '서울특별시 성동구 옥수동  래미안 옥수 리버젠 건물 59.25㎡',
       '서울특별시 성동구 성수동2가  성원상떼뷰 건물 0.00㎡',
       '서울특별시 성동구 도선동  신한넥스텔 대지 2.56㎡ 건물19.63㎡',
       '서울특별시 성동구 도선동 신한넥스텔 임대보증금 증가',
       '서울특별시 성동구 성수동2가  램킨 중흥S-클래스 오피스텔대지 8.45㎡ 건물 42.65㎡',
       '서울특별시 성동구 성수동2가  램킨 증흥S-클래스 오피스텔대지 8.45㎡ 건물 42.65㎡',
       '서울특별시 성동구 성수동2가  램킨 증흥S-클래스 오피스텔임대보증금',
       '서울특별시 성동구 성수동2가  램킨 중흥S-클래스 오피스텔임대보증금',
       '서울특별시 성동구 옥수동  극동그린아파트 건물 114.32㎡',
       '서울특별시 성동구 하왕십리동  청계벽산아파트 건물 26.90㎡',
       '서울특별시 성동구 용답동 5-5번지 495.90㎡ 중 186.20㎡',
       '서울특별시 성동구 행당동  서울숲리버뷰자이 건물 84.95㎡',
       '서울특별시 성동구 응봉동  대림종합상가 건물 0.00㎡',
       '[소재지 오기정정]서울특별시 성동구 응봉동 대림종합상가대지 46,394.00㎡ 중 50.96㎡ 건물 81.41㎡',
       '서울특별시 성동구 응봉동  대림종합상가 건물 0.00㎡',
       '[소재지 오기정정]서울특별시 성동구 응봉동 대림종합상가대지 46,394.00㎡ 중 46.95㎡ 건물 74.99㎡',
       '서울특별시 성동구 응봉동  대림종합상가 건물 0.00㎡',
       '[소재지 오기정정]서울특별시 성동구 응봉동 대림종합상가대지 46,394.00㎡ 중 49.25㎡ 건물 78.66㎡',
       '서울특별시 성동구 응봉동 대림종합상가 3건 임대보증금',
       '서울특별시 성동구 옥수동 대림e편한세상 옥스파크힐스 건물84.64㎡',
       '서울특별시 성동구 성수동2가 대지 54.90㎡ 건물 34.43㎡', '서울특별시 성동구 성수동2가 임대보증금 증가',
       '서울특별시 성동구 행당동  행당동한진아파트 건물 114.62㎡',
       '서울특별시 성동구 행당동  무학빌딩 3층 건물 148.00㎡', '서울특별시 성동구 성수동1가 건물 59.40㎡',
       '서울특별시 성동구 옥수동 e편한세상 옥수 파크힐스 건물84.64㎡',
       '서울특별시 성동구 옥수동 이편한세상옥수파크힐스 건물84.64㎡ (건물 84.64㎡ 증가)',
       '서울특별시 성동구 금호동3가 두산아파트 건물 145.16㎡중 72.58㎡',
       '서울특별시 성동구 금호동3가  두산아파트 건물 72.58㎡',
       '서울특별시 성동구 옥수동 옥수파크힐스아파트 건물115.90㎡',
       '서울특별시 성동구 성수동1가 668-23번지 221.00㎡ 중49.11㎡',
       '서울특별시 성동구 옥수동  더 어울림 아파트 건물 84.69㎡',
       '서울특별시 성동구 사근동 건물 0.00㎡ (건물 19.11㎡감소)',
       '서울특별시 성동구 옥수동  옥수삼성아파트 건물 59.70㎡ (건물 59.70㎡증가)',
       '서울특별시 성동구 행당동 건물 33.00㎡', '서울특별시 성동구 금호동4가  대우아파트 건물 84.71㎡',
       '서울특별시 성동구 옥수동  한남하이츠아파트 건물 177.16㎡',
       '서울특별시 성동구 성수동2가  성수동아이파크 건물 84.98㎡',
       '서울특별시 성동구 행당동  행당한진타운 건물 84.00㎡', '서울특별시 성동구 행당동 행당한진타운 임대보증금',
       '서울특별시 성동구 옥수동  옥수어울림 건물 128.12㎡ 중64.06㎡',
       '서울특별시 성동구 옥수동  옥수어울림 건물 128.12㎡ 중64.06㎡',
       '서울특별시 성동구 옥수동 어울림더리버아파트 임대보증금 감소',
       '서울특별시 성동구 옥수동 어울림더리버아파트 임대보증금 감소',
       '서울특별시 성동구 금호동3가  두산아파트  건물 59.97㎡',
       '서울특별시 성동구 용답동 대지 6.91㎡건물 21.09㎡',
       '서울특별시 성동구 행당동  서울숲 리버뷰자이 건물 84.90㎡ (건물 84.90㎡증가)',
       '서울특별시 성동구 행당동  대림아파트 건물 84.87㎡', '서울특별시 성동구 행당동  한진타운 건물 114.62㎡',
       '서울특별시 성동구 행당동 한진타운 임대보증금', '서울특별시 성동구 홍익동 건물 6.00㎡',
       '서울특별시 성동구 옥수동  극동그린아파트 건물 102.00㎡',
       '서울특별시 성동구 하왕십리동  텐즈힐아파트 건물 129.34㎡중 64.67㎡',
       '서울특별시 성동구 하왕십리동  텐즈힐아파트 건물 129.34㎡중 64.67㎡',
       '서울특별시성동구행당동 행당대림아파트건물11,544.12㎡중114.94㎡',
       '서울특별시 성동구 옥수동 건물 106.00㎡',
       '서울특별시 성동구 금호동4가  브라운스톤 금호2차 건물 84.99㎡',
       '서울특별시 성동구금호동1가 벽산아파트건물 114.57㎡중 57.29㎡',
       '서울특별시 성동구금호동1가 벽산아파트건물 114.57㎡중 57.29㎡',
       '서울특별시성동구 상왕십리동 텐즈힐아파트건물 84.90㎡중 42.45㎡',
       '서울특별시 성동구행당동 행당한진타운건물 114.62㎡중 57.31㎡',
       '서울특별시성동구 상왕십리동 텐즈힐아파트건물 84.90㎡중 42.45㎡',
       '서울특별시 성동구행당동 행당한진타운건물 114.62㎡중 57.31㎡',
       '서울특별시 성동구행당동 대림아파트건물 59.00㎡중 34.40㎡',
       '서울특별시 성동구 행당동  대림아파트 건물 59.00㎡중 24.60㎡',
       '서울특별시 성동구 상왕십리동 텐즈힐아파트 임대보증금',
       '서울특별시 성동구 행당동 행당한진타운아파트 건물144.00㎡ 중 57.31㎡ (건물 지분면적14.69㎡ 감소)',
       '서울특별시 성동구 행당동 행당한진타운아파트 건물144.00㎡ 중 57.32㎡ (건물 지분면적14.68㎡ 감소)',
       '서울특별시 성동구 행당동 행당한진타운아파트 임대보증금 감소',
       '서울특별시 성동구 행당동 행당한진타운아파트 임대보증금 감소',
       '서울특별시 성동구 상왕십리동  텐즈힐 건물 127.44㎡ 중63.72㎡',
       '서울특별시 성동구 상왕십리동  텐즈힐 건물 127.44㎡ 중63.72㎡',
       '서울특별시 성동구 성수동1가  트리마제아파트 건물 84.51㎡',
       '서울특별시 성동구  용답동 대지 28.59㎡건물 57.96㎡', '서울특별시 성동구 용답동 임대보증금',
       '서울특별시 성동구 하왕십리동 왕십리자이아파트 건물59.99㎡',
       '서울특별시 성동구 하왕십리동 대지 178.00㎡중 39.55㎡건물375.42㎡ 중 82.59㎡',
       '서울특별시 성동구 하왕십리동 대지 178.00㎡중 59.30㎡건물375.42㎡ 중 127.65㎡',
       '서울특별시 성동구 하왕십리동 임대보증금', '서울특별시 성동구 하왕십리동 임대보증금',
       '서울특별시 성동구 하왕십리동  센트라스 건물 115.99㎡',
       '서울특별시 성동구 금호동2가 신금호파크자이아파트 건물114.98㎡ (건물 114.98㎡ 증가)',
       '서울특별시 성동구 행당동 대지 249.66㎡ 건물 306.00㎡',
       '서울특별시 성동구 사근동 대지 126.00㎡ 건물 252.07㎡',
       '서울특별시 성동구 금호동3가 대지 36.36㎡ 건물 50.78㎡',
       '서울특별시 성동구 금호동3가 대지 32.38㎡ 건물 50.41㎡',
       '서울특별시 성동구 금호동3가 삼성빌33차 임대보증금', '서울특별시 성동구 성수동2가 건물 129.30㎡',
       '서울특별시 성동구 성수동2가 건물 42.97㎡', '서울특별시 성동구 행당1동  삼부아파트 건물 84.09㎡',
       '서울특별시 성동구 성수동2가 건물 77.72㎡ 중 38.86㎡',
       '서울특별시 성동구 용답동 102-23번지 189.70㎡ 중 2.34㎡',
       '서울특별시 성동구 용답동 102-24번지 142.20㎡ 중 1.76㎡',
       '서울특별시 성동구 용답동 103-4번지 95.20㎡ 중 1.17㎡',
       '서울특별시 성동구 용답동 104-19번지 307.30㎡ 중 3.80㎡',
       '서울특별시 성동구 옥수동  래미안 옥수 리버젠 건물 59.25㎡',
       '서울특별시 성동구 마장동  금호어울림아파트 건물 0.00㎡(건물 84.00㎡ 감소)',
       '서울특별시 성동구 도선동  신한넥스텔 대지 2.56㎡ 건물19.63㎡',
       '서울특별시 성동구 도선동 신한넥스텔 임대보증금',
       '서울특별시 성동구 성수동2가  램킨 중흥S-클래스 오피스텔대지 8.45㎡ 건물 42.65㎡',
       '서울특별시 성동구 성수동2가  램킨 중흥S-클래스 오피스텔대지 8.45㎡ 건물 42.65㎡',
       '서울특별시 성동구 성수동2가  램킨 중흥S-클래스 오피스텔임대보증금',
       '서울특별시 성동구 성수동2가  램킨 증흥S-클래스 오피스텔임대보증금',
       '서울특별시 성동구 금호동2가  신금호파크자이 건물 59.98㎡',
       '서울특별시 성동구 옥수동 e편한세상 옥수파크힐스 건물0.00㎡ (건물 84.30㎡ 감소)',
       '서울특별시 성동구 옥수동 이편한세상옥수파크힐스 건물84.92㎡ (건물 84.92㎡ 증가)',
       '서울특별시 성동구 금호동2가 신금호파크자이 임대보증금',
       '서울특별시 성동구 성수동2가 건물 63.68㎡ (건물 63.68㎡증가)',
       '서울특별시 성동구 옥수동  극동그린아파트 건물 114.32㎡',
       '서울특별시 성동구 하왕십리동  청계벽산아파트 건물 26.90㎡',
       '서울특별시 성동구 용답동 5-5번지 0.00㎡ 중 0.00㎡ (총면적495.90㎡ 감소, 지분면적 186.20㎡ 감소)',
       '서울특별시 성동구 행당동 건물 26.40㎡ (건물 26.40㎡ 증가)',
       '서울특별시 성동구 행당동  서울숲리버뷰자이 건물 0.00㎡(건물 84.95㎡ 감소)',
       '서울특별시 성동구 행당동  서울숲리버뷰자이 건물 84.95㎡(건물 84.95㎡ 증가)',
       '서울특별시 성동구 응봉동  대림종합상가 대지 46,394.00㎡ 중49.25㎡ 건물 78.66㎡',
       '서울특별시 성동구 응봉동  대림종합상가 대지 46,394.00㎡ 중50.96㎡ 건물 81.41㎡',
       '서울특별시 성동구 응봉동  대림종합상가 대지 46,394.00㎡ 중46.95㎡ 건물 74.99㎡',
       '서울특별시 성동구 응봉동 대림종합상가 3건 임대보증금',
       '서울특별시 성동구 성수동2가 대지 1,002.30㎡ 중 216.62㎡건물 2,864.02㎡ 중 954.67㎡ (대지 지분면적 216.62㎡ 증가,건물 지분면적 954.67㎡ 증가)',
       '서울특별시 성동구 성수동2가 임대보증금 증가',
       '서울특별시 성동구 옥수동 대림e편한세상 옥스파크힐스 건물0.00㎡ (건물 84.64㎡ 감소)',
       '서울특별시 성동구 옥수동  옥수어울림아파트 건물 128.53㎡(건물 128.53㎡ 증가)',
       '서울특별시 성동구 성수동2가 대지 54.90㎡ 건물 34.43㎡', '서울특별시 성동구 성수동2가 임대보증금',
       '서울특별시 성동구 도선동 20번지 25.82㎡ (25.82㎡ 증가)',
       '서울특별시 성동구 행당동  행당동한진아파트 건물 57.31㎡(건물 57.31㎡ 감소)',
       '서울특별시 성동구 행당동  무학빌딩 3층 건물 148.00㎡',
       '서울특별시 성동구 행당동  행당동한진아파트 건물 114.62㎡중57.31㎡(건물 총면적 114.62㎡증가, 지분면적 57.31㎡증가)',
       '서울특별시 성동구 옥수동 e편한세상 옥수 파크힐스 건물84.64㎡',
       '서울특별시 성동구 성수동1가 건물 59.40㎡', '서울특별시 성동구 하왕십리동 왕십리뉴타운센트라스 건물84.98㎡',
       '서울 성동구 성수동1가 59.4㎡ 중 29.7㎡', '서울 성동구 성수동1가 59.4㎡ 중 29.7㎡',
       '서울 성동구 성수동1가 임대보증금 증가', '서울 성동구 성수동1가 임대보증금 증가',
       '서울 성동구 금호동1가 114.57㎡', '서울 성동구 응봉동 84.42㎡', '서울 성동구 행당동 29.43㎡',
       '서울 성동구 도선동 38.58㎡', '서울 성동구 행당동 오피스텔 임대보증금',
       '서울 성동구 도선동 오피스텔 임대보증금', '서울 성동구 사근동 단독주택 12㎡(12㎡ 증가)',
       '서울 성동구 금호동4가 아파트 84.838㎡', '서울 성동구 금호동3가 116.81㎡',
       '서울특별시 성동구 성수동1가 건물 164.86㎡', '서울특별시 성동구 행당동 건물 84.87㎡',
       '서울특별시 성동구 행당동 임대보증금 증가'], dtype=object)

In [68]:
highofficer_rich_2019 = highofficer_rich[highofficer_rich['years']==2019]
highofficer_rich_2019

       성명  years          현재가액
510   김병관   2019 276,363,061.0
648   김세연   2019  96,695,316.0
1487  박덕흠   2019  52,314,676.0
1684   박정   2019  28,783,850.0
4009  최교일   2019  25,513,895.0
...   ...    ...           ...
2178  신정식   2019    -229,761.0
4440  황창화   2019    -239,508.0
2417  오인철   2019    -513,595.0
1646  박원순   2019    -736,504.0
3943  진선미   2019  -1,386,971.0

[2292 rows x 3 columns]

In [70]:
q1 = highofficer_rich_2019['현재가액'].quantile(q = 0.2)
q2 = highofficer_rich_2019['현재가액'].quantile(q = 0.4)
q3 = highofficer_rich_2019['현재가액'].quantile(q = 0.6)
q4 = highofficer_rich_2019['현재가액'].quantile(q = 0.8)
q5 = highofficer_rich_2019['현재가액'].quantile(q = 1)

In [72]:
print(q1)
print(q2)
print(q3)
print(q4)
print(q5)

354410.0
726635.4000000001
1249377.1999999993
2103023.8
276363061.0

In [74]:
def q(x):
    if x > q4 and x <= q5:
        return '5분위'
    elif x > q3 and x <= q4:
        return '4분위'
    elif x > q2 and x <= q3:
        return '3분위'
    elif x > q1 and x <= q2:
        return '2분위'
    else:
        return '1분위'

In [81]:
quantile = highofficer_rich_2019['현재가액'].apply(q)
highofficer_rich_2019['분위'] = quantile
highofficer_rich_2019

C:\Users\sds\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       성명  years          현재가액   분위
510   김병관   2019 276,363,061.0  5분위
648   김세연   2019  96,695,316.0  5분위
1487  박덕흠   2019  52,314,676.0  5분위
1684   박정   2019  28,783,850.0  5분위
4009  최교일   2019  25,513,895.0  5분위
...   ...    ...           ...  ...
2178  신정식   2019    -229,761.0  1분위
4440  황창화   2019    -239,508.0  1분위
2417  오인철   2019    -513,595.0  1분위
1646  박원순   2019    -736,504.0  1분위
3943  진선미   2019  -1,386,971.0  1분위

[2292 rows x 4 columns]