In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader as pdr

In [25]:
yale = pdr.get_data_quandl('TSLA', api_key = 'XgLrujuWM8sVyV7Kt_4f')

In [26]:
yale.to_csv('C:\\GitHub\\test\\yale.csv')

In [27]:
yale.head()

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2018-03-27,304.00,304.27,277.18,279.18,13696168.0,0.0,1.0,304.00,304.27,277.18,279.18,13696168.0
2018-03-26,307.34,307.59,291.36,304.18,8324639.0,0.0,1.0,307.34,307.59,291.36,304.18,8324639.0
2018-03-23,311.25,311.61,300.45,301.54,6600538.0,0.0,1.0,311.25,311.61,300.45,301.54,6600538.0
2018-03-22,313.89,318.82,308.18,309.10,4914307.0,0.0,1.0,313.89,318.82,308.18,309.10,4914307.0
2018-03-21,310.25,322.44,310.19,316.53,5927881.0,0.0,1.0,310.25,322.44,310.19,316.53,5927881.0