In [1]:
import pandas as pd
import numpy as np

In [9]:
join = pd.read_excel('C:\\GitHub\\sdii_datasci\\sdii-datasci\\join.xlsx')
join.head()

,경매번호,경매종류,참여순서,투자자ID,투자일시,투자금액금액,투자성사여부,입찰이자율,오토비딩,미투비딩갑,미투비딩을
0,A8C32F3,개인,1,UAEB30A,2007-05-29 08:53:31,20000,0,13.0,0,0,0
1,A8C32F3,개인,2,U886072,2007-05-28 14:10:45,20000,0,20.0,0,0,0
2,A8C32F3,개인,3,U8A803C,2007-05-28 14:09:18,20000,0,15.0,0,0,0
3,A8C32F3,개인,4,U886072,2007-05-28 14:04:55,20000,0,20.0,0,0,0
4,AAD65CE,개인,1,U4E8DF4,2007-06-01 11:26:25,20000,0,7.0,0,0,0

In [3]:
p2p = pd.read_excel('C:\\GitHub\\sdii_datasci\\sdii-datasci\\p2p.xlsx')
p2p.head()

,경매번호,자금모집시작일,자금모집종료일,대출자ID,대출신청금액,상환기간,대출자 제시 연 이자율,매칭방식,대출용도,투자모집 금액,...,주거형태,거주지역,직종,직장세부,혼인상태,동거인수,주거지명의,차량소유,개인회생,Q&A수 게시물 수
0,ADBB538,2007-05-28 05:00:35,2007-06-30 12:00:00,UE799D6,100,3,25.0,1,NaN,0.0,...,NaN,서울 서초구 방배동,일반회사원,NaN,0,0,NaN,0,0,0
1,A6C8F3E,2007-05-28 05:21:12,2007-09-01 12:00:00,UE799D6,100,12,29.0,1,NaN,0.0,...,NaN,서울 서초구 방배동,일반회사원,NaN,0,0,NaN,0,0,0
2,A8C32F3,2007-05-28 05:24:10,2007-09-01 12:00:00,UE799D6,200,12,29.0,1,NaN,0.0,...,NaN,서울 서초구 방배동,일반회사원,NaN,0,0,NaN,0,0,0
3,AAD65CE,2007-05-28 09:44:38,2007-06-01 12:00:00,UB3D977,100,3,7.0,1,NaN,0.0,...,NaN,NaN,NaN,NaN,0,0,NaN,0,0,6
4,A22DEE1,2007-05-28 09:57:30,2007-06-29 12:00:00,UEA8D32,100,3,6.0,1,NaN,0.0,...,NaN,NaN,NaN,NaN,0,0,NaN,0,0,7

In [4]:
p2p_refund = pd.read_excel('C:\\GitHub\\sdii_datasci\\sdii-datasci\\p2p_refund.xlsx')
p2p_refund.head()

,경매번호,회차,기일,원금,이자,잔액,입금일,입금원금,입금이자,입금후잔액
0,A8182D3,1,2007-07-01 23:50:00,326485,20833,673515,2007-07-01 22:40:06,326561,20514,673439
1,A8182D3,2,2007-08-01 23:50:00,333286,14032,340229,2007-07-25 12:48:28,673439,5390,0
2,AD2C091,1,2007-07-05 23:50:00,72829,24167,927171,2007-07-05 23:15:19,73618,22308,926382
3,AD2C091,2,2007-08-05 23:50:00,74589,22407,852582,2007-08-05 22:05:24,73618,20678,851134
4,AD2C091,3,2007-09-05 23:50:00,76392,20604,776190,2007-09-05 12:00:01,76922,19004,774212

In [6]:
user = pd.read_excel('C:\\GitHub\\sdii_datasci\\sdii-datasci\\user.xlsx')
user.head()

     투자자ID                 가입일  페이스북로그인   성별    나이  오토비드사용  미투비드갑사용  대부회원 여부
0  U465105 2007-05-04 23:58:02        0  1.0  45.0       0        0        0
1  UE799D6 2007-05-07 08:06:29        0  1.0  44.0       0        0        0
2  U66D68A 2007-05-09 03:35:08        0  2.0  38.0       0        0        0
3  UF4C400 2007-05-09 22:28:49        0  1.0  50.0       0        0        0
4  U1C5442 2007-05-10 15:32:23        0  1.0  44.0       0        0        0

In [10]:
join.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245396 entries, 0 to 245395
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   경매번호    245396 non-null  object
 1   경매종류    245396 non-null  object
 2   참여순서    245396 non-null  int64
 3   투자자ID   245396 non-null  object
 4   투자일시    245396 non-null  datetime64[ns]
 5   투자금액금액  245396 non-null  int64
 6   투자성사여부  245396 non-null  int64
 7   입찰이자율   245396 non-null  float64
 8   오토비딩    245396 non-null  int64
 9   미투비딩갑   245396 non-null  int64
 10  미투비딩을   245396 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(6), object(3)
memory usage: 20.6+ MB

In [11]:
p2p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26855 entries, 0 to 26854
Data columns (total 39 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   경매번호          26855 non-null  object
 1   자금모집시작일       26855 non-null  datetime64[ns]
 2   자금모집종료일       26855 non-null  datetime64[ns]
 3   대출자ID         26855 non-null  object
 4   대출신청금액        26855 non-null  int64
 5   상환기간          26855 non-null  int64
 6   대출자 제시 연 이자율  26855 non-null  float64
 7   매칭방식          26855 non-null  int64
 8   대출용도          14437 non-null  object
 9   투자모집 금액       26855 non-null  float64
 10  투자모집 성공여부     26855 non-null  int64
 11  투자참여인원수       26855 non-null  int64
 12  투자모집(오토비드)    26855 non-null  int64
 13  투자모집(미투비드)    26855 non-null  int64
 14  최종약정이자율       26855 non-null  float64
 15  신용보고서         26855 non-null  int64
 16  소득보고서         26855 non-null  int64
 17  핸드폰번호         26855 non-null  int64
 18  집전화번호         26855 non-null  int64
 19  회사전화번호        26855 non-null  int64
 20  개인정보서류        26855 non-null  int64
 21  월소득(만원)       26855 non-null  int64
 22  월지출(만원)       26855 non-null  float64
 23  상환후여유자금(만원)   26855 non-null  int64
 24  성별            26855 non-null  int64
 25  나이            24980 non-null  float64
 26  사연길이          26855 non-null  int64
 27  추가글 개수        26855 non-null  int64
 28  월지출 상세내역      13060 non-null  object
 29  주거형태          14221 non-null  object
 30  거주지역          24462 non-null  object
 31  직종            23321 non-null  object
 32  직장세부          20230 non-null  object
 33  혼인상태          26855 non-null  int64
 34  동거인수          26855 non-null  int64
 35  주거지명의         14180 non-null  object
 36  차량소유          26855 non-null  int64
 37  개인회생          26855 non-null  int64
 38  Q&A수 게시물 수    26855 non-null  int64
dtypes: datetime64[ns](2), float64(5), int64(23), object(9)
memory usage: 8.0+ MB

In [12]:
p2p_refund.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22163 entries, 0 to 22162
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   경매번호    22163 non-null  object
 1   회차      22163 non-null  int64
 2   기일      22163 non-null  datetime64[ns]
 3   원금      22163 non-null  int64
 4   이자      22163 non-null  int64
 5   잔액      22163 non-null  int64
 6   입금일     20165 non-null  datetime64[ns]
 7   입금원금    22163 non-null  int64
 8   입금이자    22163 non-null  int64
 9   입금후잔액   22163 non-null  int64
dtypes: datetime64[ns](2), int64(7), object(1)
memory usage: 1.7+ MB

In [13]:
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78944 entries, 0 to 78943
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   투자자ID    78944 non-null  object
 1   가입일      78944 non-null  datetime64[ns]
 2   페이스북로그인  78944 non-null  int64
 3   성별       78708 non-null  float64
 4   나이       78708 non-null  float64
 5   오토비드사용   78944 non-null  int64
 6   미투비드갑사용  78944 non-null  int64
 7   대부회원 여부  78944 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(1)
memory usage: 4.8+ MB

In [15]:
a = join['경매번호'].nunique()
a

3215

In [16]:
b = p2p['경매번호'].nunique()
b

26830

In [17]:
c = p2p_refund['경매번호'].nunique()
c

2156

In [22]:
d = join['투자성사여부'].unique()
d

array([0, 1], dtype=int64)

In [24]:
join_ab = join.groupby(['투자성사여부']).size()
join_ab

투자성사여부
0     10168
1    235228
dtype: int64

In [26]:
p2p_ab = p2p.groupby(['투자모집 성공여부']).size()
p2p_ab

투자모집 성공여부
0    24760
1     2095
dtype: int64

In [27]:
p2p_abc = p2p['대출자ID'].nunique()
p2p_abc

11163

In [28]:
join_abc = join['투자자ID'].nunique()
join_abc

6345

In [30]:
user_abc = user['투자자ID'].nunique()
user_abc

78759

In [32]:
user_count = user['오토비드사용'] + user['미투비드갑사용']
user['투자경험여부'] = user_count

In [33]:
user_invest = user.groupby(['투자경험여부'])['투자자ID'].nunique()
user_invest

투자경험여부
0    78685
1       75
Name: 투자자ID, dtype: int64

In [37]:
user_d = user.groupby('오토비드사용').size()
user_d

오토비드사용
0    78912
1       32
dtype: int64

In [38]:
user_e = user.groupby('미투비드갑사용').size()
user_e

미투비드갑사용
0    78901
1       43
dtype: int64

In [47]:
type(join['투자금액금액'])

pandas.core.series.Series

In [52]:
join['투자금액금액']

0             20000
1             20000
2             20000
3             20000
4             20000
            ...
245391       100000
245392      5000000
245393      3000000
245394    400000000
245395        30000
Name: 투자금액금액, Length: 245396, dtype: int64

In [57]:
print(join['투자금액금액'].min())
print(join['투자금액금액'].max())

1000
500000000

In [61]:
q1 = join['투자금액금액'].quantile(q = 0.1)
q2 = join['투자금액금액'].quantile(q = 0.2)
q3 = join['투자금액금액'].quantile(q = 0.3)
q4 = join['투자금액금액'].quantile(q = 0.4)
q5 = join['투자금액금액'].quantile(q = 0.5)
q6 = join['투자금액금액'].quantile(q = 0.6)
q7 = join['투자금액금액'].quantile(q = 0.7)
q8 = join['투자금액금액'].quantile(q = 0.8)
q9 = join['투자금액금액'].quantile(q = 0.9)

In [62]:
print(q1)
print(q2)
print(q3)
print(q4)
print(q5)
print(q6)
print(q7)
print(q8)
print(q9)

1000.0
2000.0
3000.0
5000.0
10000.0
12000.0
20000.0
24000.0
50000.0

In [66]:
def q(x):
    if x > q9:
        return '상위 10%'
    elif x > q8 and x < q9:
        return '상위 20%'
    else:
        return '하위 80%'

In [73]:
qq = join['투자금액금액'].apply(q)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().