In [1]:
import pandas as pd

# 시리즈 만들기

### 시리즈 만들기

0    banana
1        42
dtype: object

### 시리즈 만들기

0         Wes McKinney
1    Creator of Pandas
dtype: object

### 시리즈에 인덱스 문자열로 추가하기

Person         Wes McKinsey
Who       Creator of Pandas
dtype: object

# 데이터프레임 만들기

### 딕셔너리 활용하여 데이터 프레임 만들기

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

### 인덱스와 컬럼값 지정하기

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

### OrderedDict 불러오기 명령어

### OrderedDict 활용하여 데이터 순서 지정하기

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

# 데이터프레임에서 시리즈 선택하기

### scientists 데이터프레임 입력하기

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

### 'William Gosset' 행만 추출하여 속성 확인하기 (first_row = )

<class 'pandas.core.series.Series'>

### 'first_row' 프린트하기

Occupation    Statistician
Born            1876-06-13
Age                     61
Died            1937-10-16
Name: William Gosset, dtype: object

# index, values, keys 사용하기

### 'first_row'의 index 속성 사용하기

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

### 'first_row'의 values 속성 사용하기

['Statistician' '1876-06-13' 61 '1937-10-16']

### 'first_row'의 keys 메서드 사용하기

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

### 'first_row'의 index 속성 중 첫 번째 값 추출하기

Occupation

### 'first_row'의 keys 메서드 중 첫 번째 값 추출하기

Occupation

# 시리즈의 mean, min, max, std 메서드 사용하기

### scientist 데이터프레임에서 'Ags' 컬럼만 추출하기 (ages = )

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

### 'ages' 중 mean 메서드 사용하기

49.0

### 'ages' 중 min 메서드 사용하기

37

### 'ages' 중 max 메서드 사용하기

61

### 'ages' 중 std 메서드 사용하기

16.97056274847714

# 시리즈와 불린 추출 사용하기

### 'scientists.csv' 파일 불러오기 (scientists = )

### 'Age' 컬럼만 추출하여 max와 mean 메서드 적용하기

90
59.125

### 평균 나이보다 더 많은 사람의 나이 데이터만 추출하기

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

### 평균 나이보다 더 많은지 True/False 확인하기

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

### 불린 추출하기 (순서: True, True, False, False, True, True, False, True) (manual_bool_values = )

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

# 시리즈와 브로드캐스팅

### ages 벡터와 ages 벡터 더하기

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

### ages 벡터와 ages 벡터 곱하기

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

### ages 벡터에 스칼라 100 더하기

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

### ages 벡터에 2배 곱하기

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

### 시리즈 만들기 [1, 100]

0      1
1    100
dtype: int64

### ages 벡터와 위의 시리즈 더하기

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

### ages 벡터를 내림 차순으로 정렬하기 (rev_ages = )

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

### ages 벡터와 rev_ages 벡터 더하기

# 데이터프레임과 불린 추출

### scientists.csv 파일 불러오기 ->'Age' 중간값보다 나이가 많은 사람의 데이터 표시하기

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

### 시리즈에 bool 벡터(e.g.[True,True,False,False,True,True,False,False]) 전달하여 적용한 데이터 표시하기

                Name        Born        Died  Age    Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1     William Gosset  1876-06-13  1937-10-16   61  Statistician
4      Rachel Carson  1907-05-27  1964-04-14   56     Biologist
5          John Snow  1813-03-15  1858-06-16   45     Physician

# 데이터프레임과 브로드캐스팅

### scientists 데이터프레임에 2를 곱하면 무엇이될까 (열별로 데이터 추측해보라)

In [ ]:
scientists*2

# 열의 자료형 바꾸기와 새로운 열 추가하기

### scientists 데이터프레임의 'Born', 'Died', 'Age'의 자료형은 무엇일까

In [ ]:
print(scientists['Born'].dtype)

In [ ]:
print(scientists['Died'].dtype)

In [ ]:
print(scientists['Age'].dtype)

### 'born'열의 데이터를 시간관련 자료형으로 바꾸기 (변수명:born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

### 'died'열의 데이터를 시간관련 자료형으로 바꾸기 (변수명:died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

### 시간관련 자료형으로 바뀐 컬럼 데이터프레임에 추가하기 (컬럼명:born_dt,died_dt)

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

### scientists 데이터프레임의 행 열 개수 확인하기

(8, 7)

### 살았던 날짜의 개수 계산하여 변수 지정하기(변수명:age_days_dt)

0   13779 days
1   22404 days
2   32964 days
3   24345 days
4   20777 days
5   16529 days
6   15324 days
7   28422 days
Name: age_days_dt, dtype: timedelta64[ns]

### Age 열 데이터 확인하기

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

# 시리즈, 데이터프레임의 데이터 섞어보기

### 'Age'열 데이터를 랜덤으로 섞기

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

C:\Anaconda\lib\random.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

### scientists 데이터프레임의 컬럼명 확인

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_years_dt'],
      dtype='object')

# 데이터프레임의 열 삭제하기

### 'Age'열 삭제하기 (변수명:scientists_dropped)

                   Name        Born        Died          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16             Chemist
1        William Gosset  1876-06-13  1937-10-16        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13               Nurse
3           Marie Curie  1867-11-07  1934-07-04             Chemist
4         Rachel Carson  1907-05-27  1964-04-14           Biologist
5             John Snow  1813-03-15  1858-06-16           Physician
6           Alan Turing  1912-06-23  1954-06-07  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23       Mathematician

     born_dt    died_dt age_years_dt
0 1920-07-25 1958-04-16   13779 days
1 1876-06-13 1937-10-16   22404 days
2 1820-05-12 1910-08-13   32964 days
3 1867-11-07 1934-07-04   24345 days
4 1907-05-27 1964-04-14   20777 days
5 1813-03-15 1858-06-16   16529 days
6 1912-06-23 1954-06-07   15324 days
7 1777-04-30 1855-02-23   28422 days

# 피클 형식으로 저장하기

### 'Name'열을 피클 시리즈로 저장하기 (변수명:names)

### scientists 데이터프레임을 피클 데이터프레임으로 저장하기

### 'Name'시리즈 피클 불러오기

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

### scientists DF 피클 불러오기

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   66             Chemist
1        William Gosset  1876-06-13  1937-10-16   56        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   41               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   37  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   61       Mathematician

     born_dt    died_dt age_years_dt
0 1920-07-25 1958-04-16   13779 days
1 1876-06-13 1937-10-16   22404 days
2 1820-05-12 1910-08-13   32964 days
3 1867-11-07 1934-07-04   24345 days
4 1907-05-27 1964-04-14   20777 days
5 1813-03-15 1858-06-16   16529 days
6 1912-06-23 1954-06-07   15324 days
7 1777-04-30 1855-02-23   28422 days

# CSV 불러오기

### names 변수를 csv로 저장하고, scientists DF를 tsv로 저장하기

### names변수를 xls로 저장하기

### names 변수를 xlsx로 저장하기